<%if @cart.checkout_status == "yes" %>

<h2>Order Summary</h2>
	<%= render partial: "cart", locals: {cart: @cart} %>
<%@cart.destroy%>



<%else%>
	<%= render partial: "cart", locals: {cart: @cart} %>
<p><%=link_to "Back to the Store", store_path%></p>

<%= button_to 'Checkout', checkout_path %>

<%end%>